header {
  width: 100%;
  height: 100px;
  background: black;
  color:  #FF1493;
}
header ul li {
  display: inline-block;
  margin-top: 45px;
  margin-right: 85px;
}
a {
  text-decoration: none;
  color:  #FF1493;
  font-size: 24pt;
}
header ul .big {
  font-size: 36pt;
}
a:active {
  color: yellow;
}
a:hover {
  color: white;
}
a:visited {
  color:  #FF1493;
}
main {
  width: 100%;
  height: auto;
  border: 1px solid red;
}
ul {
  width: 100%;
  margin: 50px auto;
  text-align: center;
  margin-bottom: 5px;
}
ul li {
  display: inline-block;
}
footer {
  width: 100%;
  height: 124px;
  background: black;
  color: white;
}
.bio {
  float: left;
  margin: 30px 30px 30px 0px;
  -webkit-filter: blur(0px);
}
ul li:last-child {
  margin-right: 0px;
}
.bio:hover {
  -webkit-filter: blur(5px);
}
.about {
  height: 400px;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  /*border: 1px solid red;*/
}
p {
  display: inline-block;
  width: 250px;
  height: 250px;
  /*border: 1px solid black;*/
  /*float: left;*/
  margin: 30px 30px 30px 0px;
  -webkit-filter: blur(0px);
}
p:hover {
  -webkit-filter: blur(5px);
}
