* {
  /*outline: 1px solid skyblue;*/
  box-sizing: border-box;
}

header {
  position: relative;
  z-index: 999;
  margin-top: 0;
  /*top: 0;*/
}

nav {
  width: 960px;
  height: 72px;
  margin: 20px auto;
  /*outline: 1px solid red;*/
}

#fuzzfeed a {
  font-size: 3em;
  color: rgb(255,20,147);
  font-family: "Frijole", sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

#nav_bar {
  text-align: center;
}

#nav_bar li {
  display: inline-block;
}

main {
  text-align: center;
  display: inline;
  width: 1000px;
}

.bio-container {
  border: 1px dotted red;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  /*justify-content: space-between;*/
}

.bio {
  float: left;
  margin: 30px 30px 30px 0px;
  -webkit-filter: blur(5px);
}
ul li:last-child {
  margin-right: 0px;
}
.bio:hover {
  -webkit-filter: blur(0px);
}
/*.about {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  border: 1px solid red;
}*/
p {
  /*display: inline-block;*/
  width: 250px;
  height: 250px;
  /*border: 1px solid black;*/
  /*float: left;*/
  margin: 30px 30px 30px 0px;
  /*-webkit-filter: blur(0px);*/
}
/*p:hover {
  -webkit-filter: blur(5px);
}*/
footer {
  clear: both;
  position: relative;
  width: 100%;
  height: 124px;
  background-color: rgb(40, 40, 40);
  color: white;
  margin-top: 175px;
}
/*container 1*/
.flip-container1 {
  float: left;
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container1:hover .flipper, .flip-container1.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container1, .front, .back {
  width: 250px;
  height: 250px;
}
/*container 2*/
.flip-container2 {
  float: right;
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container2:hover .flipper, .flip-container2.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container2, .front, .back {
  width: 250px;
  height: 250px;
}
/*container 3*/
.flip-container3 {
  float: left;
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container3:hover .flipper, .flip-container3.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container3, .front, .back {
  width: 250px;
  height: 250px;
}
/*container 4*/
.flip-container4 {
  float: right;
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container4:hover .flipper, .flip-container4.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container4, .front, .back {
  width: 250px;
  height: 250px;
}
.flipper {
  transition: 5s;
  transform-style: preserve-3d;

  position: relative;
}
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
