* {
  /*outline: 1px solid skyblue;*/
  box-sizing: border-box;
}

header {
  position: relative;
  z-index: 999;
  margin-top: 0;
  padding: 20px;
  text-align: center;
}

header h2 {
  font-size: 2em;
}

/*new nav deal*/
.mini_menu_icon {
  position: fixed;
  top: 5px;
  right: 5px;
}

/*This is the menu box when it is popped out, you can see the display is defaulted to none. */
.menu {
  display: none;
  position: fixed;
  top:0px;
  left:0px;
  outline:2px dashed purple;
  height: 703px;
  width:100%;
  margin: 0 auto;
  z-index: 100000;
  background-color: rgba(40,40,40, 0.9);
  padding: 120px 50px;
}

.menu li {
  display: block;
}
/*styling the links*/
.menu a{
  display: block;
  font-size: 6em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  color: rgb(232, 232, 232);
  margin: 50px 0;
  text-decoration: none;
}

.menu a:hover {
  color: rgb(255,20,147);
  transform: scale(1.2);
}
/*styling the close button "X"*/
.menu .close {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 5em;
  color: rgb(232, 232, 232);
  position: absolute;
  top: -5px;
  left: 7px;
}

.menu .close:hover {
  color: rgb(255,20,147);
}

#fuzzfeed a {
  font-size: 3em;
  color: rgb(255,20,147);
  font-family: "Frijole", sans-serif;
  font-weight: bolder;
  text-decoration: none;
}

#nav_bar {
  text-align: center;
}

main {
  text-align: center;
  display: inline;
  width: 1000px;
}

.bio-container {
  /*border: 1px dotted red;*/
  align-items: center;
  text-align: center;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  /*justify-content: space-between;*/
}

.bio {
  /*float: left;*/
  max-width: 250px;
  max-height: 250px;
  /*margin: 30px 30px 30px 0px*/
  /*-webkit-filter: blur(5px);*/
}

ul li:last-child {
  margin-right: 0px;
}

.bio:hover {
  -webkit-filter: blur(0px);
}

.back p {
  font-family: 'Source Sans Pro', sans-serif;
  
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 124px;
  background-color: rgb(40, 40, 40);
  color: rgb(232, 232, 232);
  text-align: center;
}

footer p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  color: rgba(232, 232, 232, 0.7);
  margin-top: 12px;
}

#contact li{
  display: inline-block;
  margin: 30px 50px;
}

#contact li:first-child{
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  /*color: rgb(255,20,147);*/
}

#contact a {
  text-decoration: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  color: rgb(232, 232, 232);
}

#contact a:hover {
  font-family: "Frijole", sans-serif;
  font-weight: lighter;
  color: rgb(255,20,147);
}
/*container 1*/
.flip-container1 {
  /*float: left;*/
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container1:hover .flipper, .flip-container1.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container1, .front, .back {
  width: 250px;
  height: 250px;
}
/*container 2*/
.flip-container2 {
  /*float: right;*/
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container2:hover .flipper, .flip-container2.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container2, .front, .back {
  width: 250px;
  height: 250px;
}
/*container 3*/
.flip-container3 {
  /*float: left;*/
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container3:hover .flipper, .flip-container3.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container3, .front, .back {
  width: 250px;
  height: 250px;
}
/*container 4 Adam*/
.flip-container4 {
  /*float: right;*/
  perspective: 1000px;
  margin: 30px 40px;
  justify-content: space-between;
}
.flip-container4:hover .flipper, .flip-container4.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container4, .front, .back {
  width: 250px;
  height: 250px;
}
.flipper {
  transition: 5s;
  transform-style: preserve-3d;

  position: relative;
}
.front, .back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes blurToClear {
  from {-webkit-filter: blur(5px);}
  to {-webkit-filter: blur(0px);}
}
.front {
  z-index: 2;
  transform: rotateY(0deg);
  -webkit-animation: blurToClear 10s 1;
}
.back {
  transform: rotateY(180deg);
}
