* {
  outline: 1px solid skyblue;
  box-sizing: border-box;
}

header {
  /*position: fixed;*/
  /*top: 0;*/
}

nav {
  width: 960px;
  height: 72px;
  margin: 0 auto;
  outline: 1px solid red;
}

#fuzzfeed  {
  font-size: 2em;
}

#nav_bar {
  text-align: center;
}

#nav_bar li {
  display: inline-block;
}

#img_box img {
  height: 400px;
  width: 400px;
}

#img_box img {
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.36,.07,.19,.97);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, -5px, 0);
  }

 20%, 80% {
    transform: translate3d(5px, 5px, 0);
  }

 30%, 50%, 70% {
    transform: translate3d(-9px, 9px, 0);
  }

 40%, 60% {
    transform: translate3d(9px, 9px, 0);
  }
}










footer {
  position: fixed;
  bottom: 0;
  right:0;
  height: 72px;
  width: 100%;
  outline: 1px solid red;
}
