header {
  border: 1px solid black;
  width: 100%;
  height: 150px;
  background: black;
  color:  #FF1493;
}
h1 {
  border: 1px solid white;
  margin: 35px 10px;
  float: left;
  font-family: 'Frijole';
  font-size: 36pt;
  display: inline-block;
}
nav ul {
  border: 1px solid white;
  width: 900px;
  float: right;
  margin-left: 30px;
}
header ul li {
  float: right;
  display: inline-block;
  margin-top: 45px;
  margin-right: 85px;
}
a {
  text-decoration: none;
  color:  #FF1493;
  font-size: 24pt;
  -webkit-filter: blur(3px);
  border: 1px dotted red;
}
a:active {
  color: yellow;
}
a:hover {
  color: white;
  -webkit-filter: blur(0px);
}
a:visited {
  color:  #FF1493;
}
main {
  height: 400px;
}
footer {
  width: 100%;
  height: 124px;
  background: black;
  color: white;
}
