* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
h1{
  font-family: Frijole;
  font-size: 120px;
  color: #FF1493;
  margin-top: 0px;
  /*text-shadow: -1px 0 rgb(232,232,232), 0 1px rgb(232,232,232), 1px 0 rgb(232,232,232), 0 -1px rgb(232,232,232);*/
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}
/*----- DROP DOWN MENUS -----*/
.btn-style{
	border : solid 1px #ffabff;
	border-radius : 3px;
	moz-border-radius : 3px;
	-webkit-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	-moz-box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	box-shadow : 0px 0px 2px rgba(0,0,0,1.0);
	font-size : 20px;
	color : #ffffff;
	padding : 1px 17px;
	background : #fcecfc;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcecfc), color-stop(51%,#fba6e2), color-stop(51%,#fd89d6), color-stop(100%,#ff7cd8));
	background : -moz-linear-gradient(top, #fcecfc 0%, #fba6e2 51%, #fd89d6 51%, #ff7cd8 100%);
	background : -webkit-linear-gradient(top, #fcecfc 0%, #fba6e2 51%, #fd89d6 51%, #ff7cd8 100%);
	background : -o-linear-gradient(top, #fcecfc 0%, #fba6e2 51%, #fd89d6 51%, #ff7cd8 100%);
	background : -ms-linear-gradient(top, #fcecfc 0%, #fba6e2 51%, #fd89d6 51%, #ff7cd8 100%);
	background : linear-gradient(top, #fcecfc 0%, #fba6e2 51%, #fd89d6 51%, #ff7cd8 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 );
  margin: 0 auto;
}
.selectInterface{
  width: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: 10%;
  right: 15%;
}
select{
  width: 180px;
  height: 40px;
  margin-right: 20px;
}

/*----- Game Description -----*/
.tooltip {
  position: absolute;
  bottom: 15%;
  left: 30%;
  display: inline-block;
  border-bottom: 1px dotted black;
  color: magenta;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
